<!doctype html>

<head>

<title>{{ page.title }}</title>

<link rel="icon" href="/data/favicon.png">
<link rel="stylesheet" href="/styles/styles.css">

<meta content="width=device-width, initial-scale=1" name="viewport" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@malisolves" />
<meta name="twitter:title" content="xoxo" />
<meta name="twitter:image" content="https://www.girlbosswords.com/data/favicon.png" />

</head>

<body>
    {{ content }}
</body>
</html>