<style>

.header {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.button {
  background-color: #CCCCCC;
  border: none;
  color: white;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #941919;
  color: white;
}

.body {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: monospace;
  font-size: 15px;
  vertical-align: middle;
}

a {
  color: #610d0d;
  font-weight:bold;
}

a:hover {
  color: #941919;
  font-weight:bold;
}

img {
    height: 160px;
    width: 160px;
    outline: #333 solid 2px;
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 25px;
  }
  .button {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 2px;
  }
  .body {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    font-size: 20px;
  }
  .button {
    font-size: 11px;
    padding: 3px;
  }
  .body {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

</style>