* {
  box-sizing: border-box;
}

body {
  background-color: #B3B3B3;
  text-align: left;
  margin: 0;
  padding: 2rem;
  font-family: monospace;
  font-size: 1rem;
}

nav.header {
  width: 100%;
  padding: 1rem;
  background-color: #460050;
  margin-bottom: 2rem;
  color: white;

  a {
    color: white;
    font-weight: bold;
  }

  .site-title a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
  }

  a:hover {
    color: #B3B3B3;
  }

  .site-title {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .site-subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;

    @media screen and (max-width: 700px) {
      font-size: 0.8rem;
    }

    span.nav-item::before {
      content: '/';
      padding: 0 1rem;
    }

    span {
      display: inline;
    }
  }

  .site-subtitle span.tagline {
    padding: 0;
    margin: 0;
  }
}

main {
  padding: 0 1rem;
}

.post-body .post-text {
  padding-bottom: 2rem;
}

.link-list {
  padding: 0;
  margin: 0 0 1rem 0;

  li::before {
    content: '/';
    padding: 0 1rem;
  }
  
  li::after {
    content: '';
    padding: 0;
    margin: 0;
  }

  li:first-child::before {
    content: '';
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    display: inline;
  }
}

.button {
  background-color: #CCCCCC;
  border: none;
  color: white;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #941919;
  color: white;
}

a {
  color: #610d0d;
  font-weight: bold;
}

a:hover {
  color: #941919;
  font-weight: bold;
}

img {
  height: 160px;
  width: 160px;
  outline: #333 solid 2px;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 25px;
  }

  .button {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 2px;
  }

  .body {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    font-size: 20px;
  }

  .button {
    font-size: 11px;
    padding: 3px;
  }

  .body {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}



.header {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.button {
  background-color: #CCCCCC;
  border: none;
  color: white;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #941919;
  color: white;
}

/* Homepage specific styles */

main.home-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

article.puzzle-card {
  position: relative;
  height: 160px;
  width: 160px;
  margin: 6px;
}

.puzzle-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
  width: 160px;
  opacity: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.puzzle-card:hover .overlay {
  outline: #941919 solid 4px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7)
}

.puzzle-card .text {
  color: #941919;
  font-size: 18px;
  font-family: monospace;
  font-weight: normal;
  text-align: center;
}

.puzzle-card img {
  height: 160px;
  width: 160px;
  outline: #333 solid 2px;
  opacity: 0.7;
}

@media screen and (max-width: 980px) {
  img {
    width: 140px;
    height: 140px;
  }

  .container {
    width: 140px;
    height: 140px;
  }

  .overlay {
    width: 140px;
    height: 140px;
  }

  .text {
    font-size: 15px;
  }
}

@media screen and (max-width: 736px) {
  .header {
    font-size: 30px;
  }

  .button {
    font-size: 12px;
  }
}

@media screen and (max-width: 493px) {
  img {
    width: 110px;
    height: 110px;
  }

  .container {
    width: 110px;
    height: 110px;
  }

  .overlay {
    width: 110px;
    height: 110px;
  }

  .text {
    font-size: 12px;
  }

  .header {
    font-size: 25px;
  }

  .button {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 402px) {
  img {
    width: 100px;
    height: 100px;
  }

  .container {
    width: 100px;
    height: 100px;
  }

  .overlay {
    width: 100px;
    height: 100px;
  }

  .text {
    font-size: 12px;
  }

  .header {
    font-size: 25px;
  }

  .button {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 376px) {
  img {
    width: 140px;
    height: 140px;
  }

  .container {
    width: 140px;
    height: 140px;
  }

  .overlay {
    width: 140px;
    height: 140px;
  }

  .text {
    font-size: 15px;
  }

  .header {
    font-size: 25px;
  }

  .button {
    font-size: 12px;
    padding: 4px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    font-size: 20px;
  }

  .button {
    font-size: 11px;
    padding: 3px;
  }
}

@media screen and (max-width: 340px) {
  img {
    width: 200px;
    height: 200px;
  }

  .container {
    width: 200px;
    height: 200px;
  }

  .overlay {
    width: 200px;
    height: 200px;
  }

  .text {
    font-size: 18px;
  }

  .header {
    font-size: 20px;
  }

  .button {
    font-size: 11px;
    padding: 3px;
  }
}