* {
  box-sizing: border-box;
}

body {
  background-color: #B3B3B3;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1rem;
}

a {
  color: #610d0d;
  font-weight: bold;
}

a:hover {
  color: #941919;
  font-weight: bold;
}

nav.header {
  width: 100%;
  padding: 1rem;
  background-color: #460050;
  margin-bottom: 2rem;
  color: white;

  a {
    color: white;
    font-weight: bold;
  }

  .site-title a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
  }

  a:hover {
    color: #B3B3B3;
  }

  .site-title {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .site-subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;

    span.nav-item::before {
      content: '/';
      padding: 0 1rem;
    }

    span {
      display: inline;
    }
  }

  .site-subtitle span.tagline {
    padding: 0;
    margin: 0;
  }
}

main {
  padding: 0 2rem;
}

.post-body .post-text {
  padding-bottom: 2rem;
}

.link-list {
  padding: 0;
  margin: 0 0 1rem 0;

  li::before {
    content: '/';
    padding: 0 1rem;
  }
  
  li::after {
    content: '';
    padding: 0;
    margin: 0;
  }

  li:first-child::before {
    content: '';
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    display: inline;
  }
}

/* Homepage specific styles */

main.home-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px;
}

article.puzzle-card {
  position: relative;
  width: 160px;
}

.puzzle-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 160px;
  width: 100%;
  opacity: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.puzzle-card:hover .overlay {
  outline: #941919 solid 4px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7)
}

.puzzle-card .text {
  color: #941919;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  width: 100%;
}

.puzzle-card img {
  width: 100%;
  outline: #333 solid 2px;
  opacity: 0.7;
}


@media screen and (max-width: 700px) {
  nav.header .site-subtitle {
    font-size: 0.8rem;
  }

  article.puzzle-card {
    max-width: 30%;

    .text {
      font-size: 0.75rem;
    }
  }
}